id: %{app_id}
runtime: org.gnome.Platform
runtime-version: "49"
sdk: org.gnome.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.rust-stable

command: %{bin_name}

finish-args:
  - --socket=wayland
  - --socket=fallback-x11
  - --share=ipc
  - --device=dri
  - --share=network
  - --talk-name=org.freedesktop.Flatpak
  - --filesystem=xdg-data/applications:create
  - --filesystem=xdg-data/flatpak/app:ro
  - --filesystem=/var/lib/flatpak/app:ro
  - --filesystem=~/.var/app:create

modules:
  - name: %{app_name_hyphen}
    buildsystem: simple
    build-options:
      append-path: /usr/lib/sdk/rust-stable/bin
      env:
        CARGO_HOME: %{cargo_home}
    build-commands:
      - cargo build %{cargo_build_flag} --frozen
      - install -D target/%{target_dir_name}/%{bin_name} /app/bin/%{bin_name}
      - install -D assets/desktop/%{app_id}.metainfo.xml -t /app/share/metainfo/
      - install -D assets/desktop/%{app_id}.desktop -t /app/share/applications/
      - install -D assets/desktop/%{app_id}.png -t /app/share/icons/hicolor/256x256/apps/
    sources:
      - type: %{sources_type}
        %{sources_location}
        %{git_tag}
      %{cargo_sources}
