[Desktop Entry]
Categories=Network
Exec=flatpak run com.brave.Browser --no-first-run --app="https://github.com" --class=brave-github.com__-Default --name=brave-github.com__-Default --user-data-dir=/home/vscode/.var/app/com.brave.Browser/data/web-app-hub/profiles/yitI4Crv 
Icon=/home/vscode/.local/share/web-app-hub/icons/yitI4Crv.png
Name=Github
StartupWMClass=brave-github.com__-Default
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
X-WAH=true
X-WAH-BROWSER-ID=com.brave.Browser_brave
X-WAH-ID=yitI4Crv
X-WAH-ISOLATE=true
X-WAH-MAXIMIZE=false
X-WAH-PROFILE=/home/vscode/.var/app/com.brave.Browser/data/web-app-hub/profiles/yitI4Crv
X-WAH-URL=https://github.com
X-WAH-VERSION=1.1.0

